*{
    margin: 0;
    padding: 0;
}
.v_right{
    width: 960px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid gray;
}
.v_shang{
    width: 960px;
    height:60px;
    outline: 1px solid gray;
}
.v_fw{
    font-size: 20px;
    line-height: 60px;
    margin-left:50px;
    float: left;
}
.v_tj{
    width: 120px;
    height: 40px;
    background-color: #ff6577;
    float: right;
    margin-top: 10px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.v_tj>span:nth-of-type(1){
    font-size:25px;
    color:#F4F5F4 ;
}
.v_tj>span:nth-of-type(2){
    font-size: 13px;
    color:#F4F5F4 ;
}
.v_xia{
    width:960px;
    height: 540px;
    outline:1px solid gray;
}
.v_ss{
    width: 800px;
    height: 50px;
    /*outline: 1px solid gray;*/
    padding-top: 25px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.v_ss>select:nth-of-type(1){
    width: 180px;
    height: 30px;
}
.v_ss>input{
    width: 250px;
    height: 26px;
    margin-left: 30px;
}
.v_ss>div{
    width: 28px;
    height: 28px;
    outline: 1px solid gray;
    background-image: url("img/服务管理_数据备份_03.png");
    background-repeat:no-repeat ;
}
table{
    width: 800px;
    height: 200px;
    border: 1px solid gray;
    margin: 0 auto;
}
th{
    border: 1px solid gray;
    background-color: #F1F0F0;
    font-size: 15px;
}
th:nth-of-type(8){
    width: 120px;
}
td{
    border: 1px solid gray;
}
.v_caozuo{
    text-align: center;
}
.v_caozuo>a{
    text-decoration:none;
}
.v_caozuo>a:nth-of-type(1){
    color: #F5B3BE;
}
.v_caozuo>a:nth-of-type(2){
    color:#AEE5C5 ;
}
.v_caozuo>a:nth-of-type(3){
    color:gray;
}